<div id="chat-container">
  <div #scrollMe id="message-container">
      <ng-container *ngFor="let item of messages">
          <ng-container *ngIf="item.role==='assistant'; else userMessage">
              <div class="bot-msg-container">
                  <div><img src="assets/images/{{this.animalName}}.jpg" class="animal-picture" /></div>
                  <div class="message-container" [innerHTML]="item.content"></div>
                  <div class="bot-right-icon-container">
                     <div class="icons">
                      <button class="button-icon" (click)="speak(item.content)">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24"
                              fill="none">
                              <path
                                  d="M16 9C16.5 9.5 17 10.5 17 12C17 13.5 16.5 14.5 16 15M19 6C20.5 7.5 21 10 21 12C21 14 20.5 16.5 19 18M13 3L7 8H5C3.89543 8 3 8.89543 3 10V14C3 15.1046 3.89543 16 5 16H7L13 21V3Z"
                                  stroke="#000000" stroke-width="1.5" stroke-linecap="round"
                                  stroke-linejoin="round" />
                          </svg>

                      </button>
                      <button class="button-icon" socialSharing [url]="item.content"><svg
                              xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24"
                              fill="none">
                              <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M13.803 5.33333C13.803 3.49238 15.3022 2 17.1515 2C19.0008 2 20.5 3.49238 20.5 5.33333C20.5 7.17428 19.0008 8.66667 17.1515 8.66667C16.2177 8.66667 15.3738 8.28596 14.7671 7.67347L10.1317 10.8295C10.1745 11.0425 10.197 11.2625 10.197 11.4872C10.197 11.9322 10.109 12.3576 9.94959 12.7464L15.0323 16.0858C15.6092 15.6161 16.3473 15.3333 17.1515 15.3333C19.0008 15.3333 20.5 16.8257 20.5 18.6667C20.5 20.5076 19.0008 22 17.1515 22C15.3022 22 13.803 20.5076 13.803 18.6667C13.803 18.1845 13.9062 17.7255 14.0917 17.3111L9.05007 13.9987C8.46196 14.5098 7.6916 14.8205 6.84848 14.8205C4.99917 14.8205 3.5 13.3281 3.5 11.4872C3.5 9.64623 4.99917 8.15385 6.84848 8.15385C7.9119 8.15385 8.85853 8.64725 9.47145 9.41518L13.9639 6.35642C13.8594 6.03359 13.803 5.6896 13.803 5.33333Z"
                                  fill="#1C274C" />
                          </svg>
                      </button>
                     </div>
                  </div>
              </div>
          </ng-container>
          <ng-template #userMessage>
              <div class="user-msg-container">
                  <div [innerHTML]="item.content" class="user-msg-box"></div>
              </div>
          </ng-template>
      </ng-container>
      <div id="loading" *ngIf="chatSpinner">
          <div class="dot-collision"></div>
      </div>
  </div>
  <footer>
      <form (ngSubmit)="sendMessage()" [formGroup]="chatbotForm" novalidate #form="ngForm">
          <div class="input-container">
              <div id="text-area-container">
                  <button (click)="emojiToggle()" class="emoji-smile-button emoji-button"><i
                          class="bi bi-emoji-smile"></i></button>
                  <textarea id="message" rows="1" formControlName="message" (input)="onInput();setSelection($event)"
                      (keydown)="setSelection($event)" (click)="setSelection($event)"></textarea>
                  <button (click)="start()" class="mic-button" type="button"><svg xmlns="http://www.w3.org/2000/svg"
                          fill="#000000" width="25px" height="25px" viewBox="0 0 1920 1920">
                          <path
                              d="M425.818 709.983V943.41c0 293.551 238.946 532.497 532.497 532.497 293.55 0 532.496-238.946 532.496-532.497V709.983h96.818V943.41c0 330.707-256.438 602.668-580.9 627.471l-.006 252.301h242.044V1920H667.862v-96.818h242.043l-.004-252.3C585.438 1546.077 329 1274.116 329 943.41V709.983h96.818ZM958.315 0c240.204 0 435.679 195.475 435.679 435.68v484.087c0 240.205-195.475 435.68-435.68 435.68-240.204 0-435.679-195.475-435.679-435.68V435.68C522.635 195.475 718.11 0 958.315 0Z"
                              fill-rule="evenodd"></path>
                      </svg>
                  </button>
              </div>
              <button type="submit" class="send-btn button-icon" [disabled]="messages.length>=10">
                  <svg viewBox="0 0 24 24" height="24" width="24" preserveAspectRatio="xMidYMid meet" class=""
                      version="1.1" x="0px" y="0px" enable-background="new 0 0 24 24" xml:space="preserve">
                      <path fill="currentColor"
                          d="M1.101,21.757L23.8,12.028L1.101,2.3l0.011,7.912l13.623,1.816L1.112,13.845 L1.101,21.757z">
                      </path>
                  </svg>
              </button>
          </div>
          <div *ngIf="emojiFlag">
              <ul class="emoji-buttons-container">
                  <li *ngFor="let emoji of emojis">
                      <button (click)="addEmoji(emoji)">{{emoji}}</button>
                  </li>
              </ul>
          </div>
      </form>
  </footer>
</div>