<!-- custom code -->

<ion-header page-dashboard-detail-header class="page-dashboard-detail-header">
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>{{ dataDashboard.title }}</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="showPopover($event)"><ion-icon
					name="ellipsis-vertical-outline"></ion-icon></ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>
<!-- ./custom code -->


<ion-content page-dashboard-detail-content class="page-dashboard-detail-content ">

	<ion-content page-dashboard-detail-content class="page-dashboard-detail-content">
		<app-chat-window *ngIf="dataDashboard.title" [animalName]="dataDashboard.title"></app-chat-window>
	</ion-content>

	<ion-button socialSharing url="https://ihsana.com">
		Share
	</ion-button>

	<ion-card-content>
		<ion-fab vertical="bottom" horizontal="end" edge slot="fixed">
			<ion-fab-button color="warning">
				<ion-icon name="share-social-sharp"></ion-icon>
			</ion-fab-button>
			<ion-fab-list side="start">
				<ion-fab-button mailApp emailAddress=""
					emailMessage="Quote of the Day ( https://play.google.com/store/apps/details?id=powerful.angelsinbible.angelsofgod)"
					color="tertiary"><ion-icon name="mail-outline"></ion-icon></ion-fab-button>
				<ion-fab-button smsApp phoneNumber=""
					shortMessage="Quote of the Day ( https://play.google.com/store/apps/details?id=powerful.angelsinbible.angelsofgod)"
					color="medium"><ion-icon name="send-outline"></ion-icon></ion-fab-button>
				<ion-fab-button whatsappApp phoneNumber=""
					message="Quote of the Day ( https://play.google.com/store/apps/details?id=powerful.angelsinbible.angelsofgod)"
					color="success"><ion-icon name="logo-whatsapp"></ion-icon></ion-fab-button>
				<ion-fab-button twitterApp
					message="Quote of the Day ( https://play.google.com/store/apps/details?id=powerful.angelsinbible.angelsofgod)"
					color="secondary"><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
			</ion-fab-list>
		</ion-fab>
	</ion-card-content>
</ion-content>